In [4]:
import pandas as pd

marketing_end_df = pd.read_csv("marketing_end_df.csv")
marketing_end_df.drop("Unnamed: 0", axis=1, inplace=True)
marketing_retail_df = pd.read_csv("marketing_retail_df.csv")
marketing_retail_df.drop("Unnamed: 0", axis=1, inplace=True)
marketing_cost_df = pd.read_csv("marketing_costs_df.csv")
marketing_cost_df.drop("Unnamed: 0", axis=1, inplace=True)
charecteristics_df = pd.read_csv("charecteristics_df.csv")
charecteristics_df.drop("Unnamed: 0", axis=1, inplace=True)
additional_df = pd.read_csv("additional_df.csv")
additional_df.drop("Unnamed: 0", axis=1, inplace=True)
demand_df = pd.read_csv("demand_df.csv")
demand_df.drop("Unnamed: 0", axis=1, inplace=True)
first_time_df = pd.read_csv("first_time_df.csv")
first_time_df.drop("Unnamed: 0", axis=1, inplace=True)
rate_of_coverage_df = pd.read_csv("rate_of_coverage_df.csv")
rate_of_coverage_df.drop("Unnamed: 0", axis=1, inplace=True)
rate_of_coverage_segment_df = pd.read_csv("rate_of_coverage_segment_df.csv")
rate_of_coverage_segment_df.drop("Unnamed: 0", axis=1, inplace=True)
segment_size_df = pd.read_csv("segments_size_df.csv")
segment_size_df.drop("Unnamed: 0", axis=1, inplace=True)
total_purchases_df = pd.read_csv("total_purchase_df.csv")
total_purchases_df.drop("Unnamed: 0", axis=1, inplace=True)
market_share_df = pd.read_csv("market_share_df.csv")
market_share_df.drop("Unnamed: 0", axis=1, inplace=True)
sales_df = pd.read_csv("sales_df.csv")

In [5]:
n_df=pd.melt(
    marketing_cost_df,
    id_vars=["Period", "Company"],
    value_vars=["1", "2", "3", "4", "5", "6"],
)
n_df.rename(columns={"variable": "Model","value":"Market Share"}, inplace=True)
charecteristics_df

,Model,Company,Durability,Design,Connectivity,Maintenance,Accessories,Period
0,Digi1,Digi,"0,7","2,0","0,7","0,7","0,7",12
1,Digi2,Digi,"3,0","3,0","3,0","1,0","1,0",12
2,Profit1,Profit,"0,7","0,7","0,7","1,4","0,7",12
3,Profit2,Profit,"2,0","1,0","2,0","1,0","1,0",12
4,Profit3,Profit,"1,0","3,0","1,0","1,0","3,0",12
5,Primus1,Primus,"0,7","0,7","0,7","1,4","0,7",12
6,Primus2,Primus,"2,0","1,0","3,0","1,0","1,0",12
7,Primus3,Primus,"3,0","2,0","3,0","2,0","2,0",12
8,Best1,Best,"0,7","0,7","0,7","2,0","0,7",12
9,Best2,Best,"2,0","1,0","2,0","1,0","1,0",12
10,Best3,Best,"2,0","3,0","3,0","2,0","1,0",12
11,Mikro1,Mikro,"0,7","0,7","0,7","0,7","0,7",12
12,Mikro2,Mikro,"3,0","3,0","3,0","3,0","3,0",12
13,Digi1,Digi,"0,8","1,6","0,8","0,8","0,8",10
14,Digi2,Digi,"3,0","3,0","3,0","1,0","1,0",10
15,Profit1,Profit,"0,8","0,8","0,8","1,6","0,8",10
16,Profit2,Profit,"2,0","1,0","2,0","1,0","1,0",10
17,Best1,Best,"0,8","0,8","0,8","2,5","0,8",10
18,Best2,Best,"2,0","1,0","2,0","1,0","1,0",10
19,Mikro1,Mikro,"0,8","0,8","0,8","0,8","0,8",10
20,Digi1,Digi,"0,8",23.0,"0,8","0,8","0,8",11
21,Digi2,Digi,"3,0","3,0","3,0","1,0","1,0",11
22,Profit1,Profit,"0,8","0,8","0,8","1,5","0,8",11
23,Profit2,Profit,"2,0","1,0","2,0","1,0","1,0",11
24,Best1,Best,"0,8","0,8","0,8",23.0,"0,8",11
25,Best2,Best,"2,0","1,0","2,0","1,0","1,0",11
26,Best3,Best,"2,0","3,0","3,0","2,0","1,0",11
27,Mikro1,Mikro,"0,8","0,8","0,8","0,8","0,8",11
28,Digi1,Digi,"0,9","1,8","0,9","0,9","0,9",9
29,Profit1,Profit,"0,9","0,9","0,9","1,8","0,9",9
30,Best1,Best,"0,9","0,9","0,9","1,8","0,9",9
31,Mikro1,Mikro,"0,9","0,9","0,9","0,9","0,9",9

In [6]:
charecteristics_df["Model_Split"]=charecteristics_df["Model"].str.extract('(\d+)')
charecteristics_df.rename(columns={"Model":"Model Name","Model_Split": "Model"}, inplace=True)

In [7]:
marketing_end_df.rename(columns={"Cost": "Marketing End User"}, inplace=True)

In [8]:
n_df=n_df.merge(marketing_end_df, on=["Period", "Company"], how="left")

In [9]:
marketing_retail_df.rename(columns={"Cost": "Marketing Retailer"}, inplace=True)
n_df = n_df.merge(marketing_retail_df, on=["Period", "Company"], how="left")

In [10]:
n_df = n_df.merge(charecteristics_df, on=["Period", "Model","Company"], how="left")

In [11]:
demand_df["Model_Split"]=demand_df["Model"].str.extract('(\d+)')
demand_df.drop("Model", axis=1, inplace=True)
demand_df.rename(columns={"Model_Split": "Model"}, inplace=True)
n_df = n_df.merge(demand_df, on=["Period", "Model","Company"], how="left")

In [12]:
R_C =pd.melt(
    rate_of_coverage_df,
    id_vars=["Period", "Company"],
    value_vars=["1", "2", "3", "4", "5", "6"],
)

In [13]:
R_C.rename(columns={"variable": "Model","value":"Rate of Coverage"}, inplace=True)
R_C

     Period Company Model  Rate of Coverage
0        12    Digi     1              61.0
1        12  Profit     1              48.0
2        12  Primus     1              60.0
3        12    Best     1              49.0
4        12   Mikro     1              45.0
..      ...     ...   ...               ...
145       9    Digi     6               NaN
146       9  Profit     6               NaN
147       9  Primus     6               NaN
148       9    Best     6               NaN
149       9   Mikro     6               NaN

[150 rows x 4 columns]

In [14]:
n_df = n_df.merge(R_C, on=["Period", "Model","Company"], how="left")

In [15]:
sales_df["Model_Split"]=sales_df["Model"].str.extract('(\d+)')
sales_df.rename(columns={"Model":"Model Name","Model_Split": "Model"}, inplace=True)

In [16]:
n_df = n_df.merge(sales_df, on=["Period", "Model"], how="left")

In [17]:
n_df.to_csv("n_df.csv", index=False)