In [4]:
import pandas as pd
import matplotlib.pyplot as plt



marketing_cost_df = pd.read_csv("marketing_costs_df.csv")

In [9]:
marketing_cost_df.columns

Index(['Unnamed: 0', 'Company', '1', '2', '3', '4', '5', '6', 'Period'], dtype='object')

In [20]:
mc_new_df=pd.melt(marketing_cost_df,id_vars=["Period","Company"],value_vars=["1","2", '3', '4', '5', '6'])
mc_new_df["Product"]=mc_new_df["Company"]+mc_new_df["variable"]
mc_new_df.drop(columns=["variable","Company"],inplace=True)

In [27]:
charecteristics_df = pd.read_csv("charecteristics_df.csv")

In [28]:
charecteristics_df

,Unnamed: 0,Model,Durability,Design,Connectivity,Maintenance,Accessories,Period
0,0,Digi1,"0,7","2,0","0,7","0,7","0,7",12
1,1,Digi2,"3,0","3,0","3,0","1,0","1,0",12
2,2,Profit1,"0,7","0,7","0,7","1,4","0,7",12
3,3,Profit2,"2,0","1,0","2,0","1,0","1,0",12
4,4,Profit3,"1,0","3,0","1,0","1,0","3,0",12
5,5,Primus1,"0,7","0,7","0,7","1,4","0,7",12
6,6,Primus2,"2,0","1,0","3,0","1,0","1,0",12
7,7,Primus3,"3,0","2,0","3,0","2,0","2,0",12
8,8,Best1,"0,7","0,7","0,7","2,0","0,7",12
9,9,Best2,"2,0","1,0","2,0","1,0","1,0",12
10,10,Best3,"2,0","3,0","3,0","2,0","1,0",12
11,11,Mikro1,"0,7","0,7","0,7","0,7","0,7",12
12,12,Mikro2,"3,0","3,0","3,0","3,0","3,0",12
13,0,Digi1,"0,8","1,6","0,8","0,8","0,8",10
14,1,Digi2,"3,0","3,0","3,0","1,0","1,0",10
15,2,Profit1,"0,8","0,8","0,8","1,6","0,8",10
16,3,Profit2,"2,0","1,0","2,0","1,0","1,0",10
17,4,Best1,"0,8","0,8","0,8","2,5","0,8",10
18,5,Best2,"2,0","1,0","2,0","1,0","1,0",10
19,6,Mikro1,"0,8","0,8","0,8","0,8","0,8",10
20,0,Digi1,"0,8","2,3","0,8","0,8","0,8",11
21,1,Digi2,"3,0","3,0","3,0","1,0","1,0",11
22,2,Profit1,"0,8","0,8","0,8","1,5","0,8",11
23,3,Profit2,"2,0","1,0","2,0","1,0","1,0",11
24,4,Best1,"0,8","0,8","0,8","2,3","0,8",11
25,5,Best2,"2,0","1,0","2,0","1,0","1,0",11
26,6,Best3,"2,0","3,0","3,0","2,0","1,0",11
27,7,Mikro1,"0,8","0,8","0,8","0,8","0,8",11
28,0,Digi1,"0,9","1,8","0,9","0,9","0,9",9
29,1,Profit1,"0,9","0,9","0,9","1,8","0,9",9
30,2,Best1,"0,9","0,9","0,9","1,8","0,9",9
31,3,Mikro1,"0,9","0,9","0,9","0,9","0,9",9

In [30]:
mc_new_df.rename(columns={"Product": "Model"}, inplace=True)

In [32]:
mc_new_df

     Period  value    Model
0        12  500.0    Digi1
1        12  400.0  Profit1
2        12  400.0  Primus1
3        12  400.0    Best1
4        12  650.0   Mikro1
..      ...    ...      ...
145       9    NaN    Digi6
146       9    NaN  Profit6
147       9    NaN  Primus6
148       9    NaN    Best6
149       9    NaN   Mikro6

[150 rows x 3 columns]

In [60]:
m_df=charecteristics_df.merge(mc_new_df, on=["Model","Period"], how="left")

In [61]:
m_df.sort_values(by=["Model","Period"], ascending=True, inplace=True)

In [62]:
m_df

,Unnamed: 0,Model,Durability,Design,Connectivity,Maintenance,Accessories,Period,value
30,2,Best1,"0,9","0,9","0,9","1,8","0,9",9,1.0
24,4,Best1,"0,8","0,8","0,8","2,5","0,8",10,400.0
17,4,Best1,"0,8","0,8","0,8","2,3","0,8",11,200.0
6,8,Best1,"0,7","0,7","0,7","2,0","0,7",12,400.0
23,5,Best2,"2,0","1,0","2,0","1,0","1,0",10,600.0
16,5,Best2,"2,0","1,0","2,0","1,0","1,0",11,300.0
5,9,Best2,"2,0","1,0","2,0","1,0","1,0",12,700.0
15,6,Best3,"2,0","3,0","3,0","2,0","1,0",11,400.0
7,10,Best3,"2,0","3,0","3,0","2,0","1,0",12,700.0
28,0,Digi1,"0,9","1,8","0,9","0,9","0,9",9,300.0
27,0,Digi1,"0,8","1,6","0,8","0,8","0,8",10,400.0
20,0,Digi1,"0,8","2,3","0,8","0,8","0,8",11,500.0
0,0,Digi1,"0,7","2,0","0,7","0,7","0,7",12,500.0
26,1,Digi2,"3,0","3,0","3,0","1,0","1,0",10,600.0
13,1,Digi2,"3,0","3,0","3,0","1,0","1,0",11,700.0
2,1,Digi2,"3,0","3,0","3,0","1,0","1,0",12,700.0
31,3,Mikro1,"0,9","0,9","0,9","0,9","0,9",9,300.0
22,6,Mikro1,"0,8","0,8","0,8","0,8","0,8",10,400.0
14,7,Mikro1,"0,8","0,8","0,8","0,8","0,8",11,500.0
4,11,Mikro1,"0,7","0,7","0,7","0,7","0,7",12,650.0
3,12,Mikro2,"3,0","3,0","3,0","3,0","3,0",12,600.0
9,5,Primus1,"0,7","0,7","0,7","1,4","0,7",12,400.0
8,6,Primus2,"2,0","1,0","3,0","1,0","1,0",12,400.0
1,7,Primus3,"3,0","2,0","3,0","2,0","2,0",12,200.0
29,1,Profit1,"0,9","0,9","0,9","1,8","0,9",9,400.0
25,2,Profit1,"0,8","0,8","0,8","1,6","0,8",10,50.0
19,2,Profit1,"0,8","0,8","0,8","1,5","0,8",11,600.0
12,2,Profit1,"0,7","0,7","0,7","1,4","0,7",12,400.0
21,3,Profit2,"2,0","1,0","2,0","1,0","1,0",10,500.0
18,3,Profit2,"2,0","1,0","2,0","1,0","1,0",11,600.0
11,3,Profit2,"2,0","1,0","2,0","1,0","1,0",12,400.0
10,4,Profit3,"1,0","3,0","1,0","1,0","3,0",12,400.0

In [65]:
m_df['diff'] = m_df.groupby(['Model'])['value'].diff()

In [82]:
m_df['Durability']=m_df['Durability'].str.replace(',','.')
m_df['Design']=m_df['Design'].str.replace(',','.')
m_df['Connectivity']=m_df['Connectivity'].str.replace(',','.')
m_df['Maintenance']=m_df['Maintenance'].str.replace(',','.')
m_df['Accessories']=m_df['Accessories'].str.replace(',','.')

In [83]:
m_df[['Durability', 'Design', 'Connectivity','Maintenance', 'Accessories']]=m_df[['Durability', 'Design', 'Connectivity','Maintenance', 'Accessories']].astype(float)

,diff,Durability,Design,Connectivity,Maintenance,Accessories
diff,1.000000,-0.041039,0.091324,0.021731,0.140842,-0.011213
Durability,-0.041039,1.000000,0.594195,0.952425,0.108693,0.412765
Design,0.091324,0.594195,1.000000,0.622920,0.095568,0.517073
Connectivity,0.021731,0.952425,0.622920,1.000000,0.153669,0.359131
Maintenance,0.140842,0.108693,0.095568,0.153669,1.000000,0.327408
Accessories,-0.011213,0.412765,0.517073,0.359131,0.327408,1.000000