In [1]:
import pandas as pd

rate_of_coverage_model = pd.read_csv("full_rate_of_coverage_model_df.csv")
market_share_model = pd.read_csv("full_market_share_model_df.csv")
rate_of_coverage = pd.read_csv("full_rate_of_coverage_df.csv")
charecteristics = pd.read_csv("full_charecteristics_df.csv")  # Done
demand = pd.read_csv("full_demand_df.csv")
total_purchase = pd.read_csv("full_total_purchase_df.csv")
additional = pd.read_csv("full_additional_df.csv")
first_time = pd.read_csv("full_first_time_df.csv")
rate_of_coverage_segment = pd.read_csv("full_rate_of_coverage_segment_df.csv")
segments_size = pd.read_csv("full_segments_size_df.csv")
market_share = pd.read_csv("full_market_share_df.csv")
marketing_costs = pd.read_csv("full_marketing_costs_df.csv")
marketing_retail = pd.read_csv("full_marketing_retail_df.csv")  # Done
marketing_end = pd.read_csv("full_marketing_end_df.csv")  # Done
sales = pd.read_csv("full_sales_df.csv")


def remove_unnamed(df):
    """
    Remove unnamed columns from the given dataframe if unnamed columns exist
    """
    if "Unnamed: 0" in df.columns:
        return df.drop("Unnamed: 0", axis=1)
    return df


for df in [
    rate_of_coverage_model,
    market_share_model,
    rate_of_coverage,
    charecteristics,
    demand,
    total_purchase,
    additional,
    first_time,
    rate_of_coverage_segment,
    segments_size,
    market_share,
    marketing_costs,
    marketing_retail,
    marketing_end,
]:
    df = remove_unnamed(df)

In [2]:
rate_of_coverage_model.drop("Unnamed: 0", axis=1, inplace=True)
n_df = pd.melt(
    marketing_end,
    id_vars=["Period", "Company"],
    value_vars=["1", "2", "3", "4", "5", "6"],
)
n_df.rename(columns={"variable": "Model", "value": "Marketing End"}, inplace=True)
n_df

     Period Company Model Marketing End
0        15    Digi     1           300
1        15  Profit     1           329
2        15  Primus     1             0
3        15    Best     1             0
4        15   Mikro     1           800
..      ...     ...   ...           ...
205      16    Digi     6             0
206      16  Profit     6             0
207      16  Primus     6             0
208      16    Best     6             0
209      16   Mikro     6             0

[210 rows x 4 columns]

In [3]:
rate_of_coverage_model.drop("Unnamed: 0", axis=1, inplace=True)
rate_of_coverage_model=rate_of_coverage_model.melt(
    id_vars=["Period", "Company"],
    value_vars=["1", "2", "3", "4", "5", "6"],
)
rate_of_coverage_model.rename(columns={"variable": "Model", "value": "Rate of coverage of model"}, inplace=True)
rate_of_coverage_model

     Period Company Model  Rate of coverage of model
0        14    Digi     1                       68.0
1        14  Profit     1                       51.0
2        14  Primus     1                       63.0
3        14    Best     1                       55.0
4        14   Mikro     1                       53.0
..      ...     ...   ...                        ...
205      17    Digi     6                        0.0
206      17  Profit     6                        0.0
207      17  Primus     6                        0.0
208      17    Best     6                        0.0
209      17   Mikro     6                        0.0

[210 rows x 4 columns]

In [4]:
n_df =  n_df.merge(rate_of_coverage_model, on=["Period", "Company", "Model"], how="left")
n_df

     Period Company Model Marketing End  Rate of coverage of model
0        15    Digi     1           300                       63.0
1        15  Profit     1           329                       48.0
2        15  Primus     1             0                       51.0
3        15    Best     1             0                       46.0
4        15   Mikro     1           800                       47.0
..      ...     ...   ...           ...                        ...
265      16    Digi     6             0                        0.0
266      16  Profit     6             0                        0.0
267      16  Primus     6             0                        0.0
268      16    Best     6             0                        0.0
269      16   Mikro     6             0                        0.0

[270 rows x 5 columns]

In [5]:
n2_df = pd.melt(
    marketing_retail,
    id_vars=["Period", "Company"],
    value_vars=["1", "2", "3", "4", "5", "6"],
)
n2_df.rename(columns={"variable": "Model", "value": "Marketing Retail"}, inplace=True)
n_df = n_df.merge(n2_df, on=["Period", "Company", "Model"], how="left")
n_df

,Period,Company,Model,Marketing End,Rate of coverage of model,Marketing Retail
0,15,Digi,1,300,63.0,500.0
1,15,Profit,1,329,48.0,329.0
2,15,Primus,1,0,51.0,50.0
3,15,Best,1,0,46.0,100.0
4,15,Mikro,1,800,47.0,200.0
...,...,...,...,...,...,...
385,16,Digi,6,0,0.0,0.0
386,16,Profit,6,0,0.0,0.0
387,16,Primus,6,0,0.0,0.0
388,16,Best,6,0,0.0,0.0
389,16,Mikro,6,0,0.0,0.0

In [6]:
charecteristics["Model_Split"] = charecteristics["Model"].str.extract("(\d+)")
charecteristics.rename(
    columns={"Model": "Model Name", "Model_Split": "Model"}, inplace=True
)
charecteristics.drop("Model Name", axis=1, inplace=True)
charecteristics.drop("Unnamed: 0", axis=1, inplace=True)

n_df = n_df.merge(charecteristics, on=["Model", "Period", "Company"], how="left")
charecteristics

,Company,Durability,Design,Connectivity,Maintenance,Accessories,Period,Model
0,Digi,"0,3","1,0","0,3","0,3","0,3",17,1
1,Digi,"2,8","2,8","2,8","1,9","1,9",17,2
2,Digi,"1,0","2,0","2,0","1,0","2,0",17,3
3,Profit,"0,3","0,3","0,3","0,7","0,3",17,1
4,Profit,"1,9","0,9","1,9","0,9","1,9",17,2
...,...,...,...,...,...,...,...,...
112,Best,"0,5","0,5","0,5","1,6","0,5",14,1
113,Best,"2,0","1,0","2,0","1,0","1,0",14,2
114,Best,"2,0","3,0","3,0","2,0","1,0",14,3
115,Mikro,"0,5","0,5","0,5","0,5","0,5",14,1
116,Mikro,"3,0","3,0","3,0","3,0","3,0",14,2

In [7]:
demand["Model_Split"] = demand["Model"].str.extract("(\d+)")
demand.drop("Model", axis=1, inplace=True)
demand.rename(columns={"Model_Split": "Model"}, inplace=True)
demand.drop("Unnamed: 0", axis=1, inplace=True)
n_df = n_df.merge(demand, on=["Period", "Model", "Company"], how="left")
n_df

,Period,Company,Model,Marketing End,Rate of coverage of model,Marketing Retail,Durability,Design,Connectivity,Maintenance,Accessories,Small income young families,Small income middle-aged families,Small income elderly families,Average income young families,Average income middle-aged families,Average income elderly families,Large income families
0,15,Digi,1,300,63.0,500.0,"0,5","1,4","0,5","0,5","0,5",3.0,2.0,4.0,2.0,2.0,3.0,2.0
1,15,Profit,1,329,48.0,329.0,"0,5","0,5","0,5","0,9","0,5",2.0,4.0,7.0,2.0,3.0,6.0,2.0
2,15,Primus,1,0,51.0,50.0,"0,5","0,5","0,5","0,9","0,5",0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,15,Best,1,0,46.0,100.0,"0,5","0,5","0,5","1,4","0,5",2.0,2.0,3.0,2.0,2.0,3.0,2.0
4,15,Mikro,1,800,47.0,200.0,"0,5","0,5","0,5","0,5","0,5",2.0,3.0,6.0,1.0,2.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,16,Digi,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,16,Profit,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,16,Primus,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,16,Best,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,16,Mikro,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
n_df

,Period,Company,Model,Marketing End,Rate of coverage of model,Marketing Retail,Durability,Design,Connectivity,Maintenance,Accessories,Small income young families,Small income middle-aged families,Small income elderly families,Average income young families,Average income middle-aged families,Average income elderly families,Large income families
0,15,Digi,1,300,63.0,500.0,"0,5","1,4","0,5","0,5","0,5",3.0,2.0,4.0,2.0,2.0,3.0,2.0
1,15,Profit,1,329,48.0,329.0,"0,5","0,5","0,5","0,9","0,5",2.0,4.0,7.0,2.0,3.0,6.0,2.0
2,15,Primus,1,0,51.0,50.0,"0,5","0,5","0,5","0,9","0,5",0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,15,Best,1,0,46.0,100.0,"0,5","0,5","0,5","1,4","0,5",2.0,2.0,3.0,2.0,2.0,3.0,2.0
4,15,Mikro,1,800,47.0,200.0,"0,5","0,5","0,5","0,5","0,5",2.0,3.0,6.0,1.0,2.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,16,Digi,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,16,Profit,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,16,Primus,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,16,Best,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,16,Mikro,6,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN